body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

.formulario {
    display: block;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: blue;
}

.input-padrao {
    display: block;
    border: 2px solid;
    padding: 5px;
    margin: 10px 0 10px 0;
}